<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
       
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DIGICEL_ActualizaUsuarios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
   
    <applicationSettings>
        <DIGICEL_ActualizaUsuarios.Properties.Settings>
            <setting name="DIGICEL_ActualizaUsuarios_mx_com_dnu_sitios_WS_Administracion"
                serializeAs="String">
                <value>http://sitios.dnu.com.mx:8080/WS_AdminPanama/WS_Administracion</value>
            </setting>
        </DIGICEL_ActualizaUsuarios.Properties.Settings>
    </applicationSettings>
</configuration>