<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="Autorizador_Diconsa" providerName="System.Data.ProviderName" connectionString="Data Source=64.34.163.109;initial catalog=Autorizador_Diconsa;user id=Developer04;password=Mochila43;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings>
    <add key="LogErrorProcesador" value="Errores"/>
    <add key="LogEventoProcesador" value="Eventos"/>
    <add key="LogFlujoProcesador" value="Entradas"/>
  </appSettings>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="EventoswsCubos" type="log4net.Appender.RollingFileAppender">
      <file value="D:/logs/PruebasGabriel/PRB_Eventos.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFORMATIVO] %m%n"/>
      </layout>
    </appender>
    <appender name="ErroreswsCubos" type="log4net.Appender.RollingFileAppender">
      <file value="D:/logs/PruebasGabriel/PRB_Errores.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n"/>
      </layout>
    </appender>
    <appender name="EntradaswsCubos" type="log4net.Appender.RollingFileAppender">
      <file value="D:/logs/PruebasGabriel/PRB_EntradaSalida.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [WEBSERVICE] %m%n"/>
      </layout>
    </appender>
    <!-- loggers -->
    <logger name="Eventos">
      <appender-ref ref="EventoswsCubos"/>
    </logger>
    <logger name="Errores">
      <appender-ref ref="ErroreswsCubos"/>
    </logger>
    <logger name="Entradas">
      <appender-ref ref="EntradaswsCubos"/>
    </logger>
  </log4net>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
