<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="DataBaseProcesos" connectionString="data source=64.34.163.109;Initial Catalog=ProcesadorNocturno;User Id=ErickHernandez;Password=Erick12369;Application Name=ProcesadorNocturno" providerName="System.Data.SqlClient" />
   
  </connectionStrings>
  <log4net>
    <appender name="FlujoEntradaSalida" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/PNEfectivale/Parabilia_EntradaSalida.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [E/S] %m%n" />
      </layout>
    </appender>
    <appender name="Eventos" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/PNEfectivale/Parabilia_Eventos.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFORMATIVO] %m%n" />
      </layout>
    </appender>
    <appender name="Errores" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/PNEfectivale/Parabilia_Errores.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n" />
      </layout>
    </appender>
    <!-- loggers -->
    <logger name="Eventos">
      <appender-ref ref="Eventos" />
    </logger>
    <logger name="Errores">
      <appender-ref ref="Errores" />
    </logger>
    <logger name="FlujosEntradaSalida">
      <appender-ref ref="FlujoEntradaSalida" />
    </logger>
  </log4net>

 <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>