<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DIGICEL_RecargasPostpago.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
        <DIGICEL_RecargasPostpago.Properties.Settings>
            <setting name="DIGICEL_RecargasPostpago_wsDNUDigicel_TransactionProcess"
                serializeAs="String">
                <value>http://64.34.163.109:8080/wsDigicel/TransactionProcess</value>
            </setting>
        </DIGICEL_RecargasPostpago.Properties.Settings>
    </applicationSettings>
</configuration>
