<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EmbozamientoServicesPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.15.1.51:21003/web/services/EmbozamientoService/Embozamiento"
                binding="basicHttpBinding" bindingConfiguration="EmbozamientoServicesPortBinding"
                contract="WS_CLAI_Embozamiento.EmbozamientoServices" name="EmbozamientoServicesPort" />
        </client>
    </system.serviceModel>
</configuration>