<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BatchBonificacion" type="System.Configuration.NameValueSectionHandler"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="DataConnectionString" connectionString="Data Source=64.34.163.109;Initial Catalog=Ecommerce;User ID=sa;Password=dnu6996" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    
    
  </appSettings>
  <BatchBonificacion>
    <add key="NumeroMaxIntentos" value="5" />
    <add key="Usuario" value="E20AE5F3F7F502E8" />
    <add key="Password" value="A545ED522C4C4BDDC600D81C11784FF5" />
    <add key="TipoMedioPago" value="EMA" />
    <add key="SKU_Beneficio" value="REWARD" />
    <add key="Terminal" value="ProcesoBatch" />

    <add key="PathMailTemplate" value="C:\logs\MailBonificacion.html" />
    <add key="SMTPServer" value="smtp.pagadevolada.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPUser" value="info_pdvol" />
    <add key="SMTPPass" value="pdv201603" />
    <add key="SMTPEmail" value="contacto@festivaldelglobotoks.com.mx" />
    <add key="SubjectEmail" value="Recuperar Contraseña Festival del Globo Toks" />
  </BatchBonificacion>

  <log4net>

    <!-- Define some output appenders -->
    <appender name="EventosProcesador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/ProcesadorNocturno/Logs/Procesador_Eventos.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFORMATIVO] %m%n"/>
      </layout>
    </appender>

    <appender name="ErroresProcesador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/ProcesadorNocturno/Logs/Procesador_Errores.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n"/>
      </layout>
    </appender>
    <appender name="FlujoProcesador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/ProcesadorNocturno/Logs/Procesador_Flujo.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n"/>
      </layout>
    </appender>

    <appender name="EntradasCortador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/ProcesadorNocturno/Logs/Eventos_EntradaSalida.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [WEBSERVICE] %m%n"/>
      </layout>
    </appender>

    <appender name="EventosCortador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/ProcesadorNocturno/Logs/Eventos_Eventos.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFORMATIVO] %m%n"/>
      </layout>
    </appender>

    <appender name="ErroresCortador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/ProcesadorNocturno/Logs/Eventos_Errores.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n"/>
      </layout>
    </appender>
    <!-- loggers -->

    <logger name="EventosProcesador">
      <appender-ref ref="EventosProcesador"/>
    </logger>

    <logger name="ErroresProcesador">
      <appender-ref ref="ErroresProcesador"/>
    </logger>
    <logger name="FlujosProcesador">
      <appender-ref ref="FlujoProcesador"/>
    </logger>
    <logger name="Entradas">
      <appender-ref ref="EntradasCortador"/>
    </logger>
    <logger name="Eventos">
      <appender-ref ref="EventosCortador"/>
    </logger>

    <logger name="Errores">
      <appender-ref ref="ErroresCortador"/>
    </logger>


  </log4net>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaymentProcessPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://64.34.163.109:8080/WsPayment/PaymentProcess"
          binding="basicHttpBinding" bindingConfiguration="PaymentProcessPortBinding"
          contract="ServicePaymentProcess.PaymentProcess" name="PaymentProcessPort" />
    </client>
  </system.serviceModel>
  
</configuration>