<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<connectionStrings>

		<add name="DataBaseProcesos" connectionString="PN-PN-W" />

	</connectionStrings>
	<appSettings>
		<add key="Instancia" value="PN FAREFO"/>
		<add key="ApplicationId" value="{14b3cd25-42de-4b5b-864a-45039aa99479}" />
		<add key="LogErrorProcesador" value="ErroresProcesador"/>
		<add key="LogEventoProcesador" value="EventosProcesador"/>
		<add key="LogFlujoProcesador" value="FlujosProcesador"/>
		<add key="LogError" value="Errores"/>
		<add key="LogEvento" value="Eventos"/>
		<add key="LogFlujo" value="Flujos"/>
		<add key="LogEntrada" value="Entradas"/>
		<add key="rutaXMLSalida" value="C:\Facturas\"/>
		<add key="URLAccesoAlServicioSAT" value="https://verificacfdi.facturaelectronica.sat.gob.mx/default.aspx"/>
		<!--azure-->
		<add key="applicationId" value="40cf2bdb-7b12-4006-90a3-784af7e41e7c" />
		<add key="clientKey" value="fbT8Q~nQp1YmAUSJLMfVUSltS2X5MUGpyTOccdvK" />
		<add key="urlKeyVault" value="https://almacendeclavesfarefosb.vault.azure.net/" />
		<add key="enableAzure" value="true" />
		<!--Configurador-->
		<add key="_AppID" value="40cf2bdb-7b12-4006-90a3-784af7e41e7c" />
		<add key="_ClientKey" value="fbT8Q~nQp1YmAUSJLMfVUSltS2X5MUGpyTOccdvK" />
		<add key="_URLKeyVault" value="https://almacendeclavesfarefosb.vault.azure.net/" />
		<add key="_EnableAzure" value="true" />
	</appSettings>
	<log4net>
		<!-- Define some output appenders -->
		<appender name="EventosProcesador" type="log4net.Appender.RollingFileAppender">
			<file value="C:/Logs/ProcesadorNocturno/TarjetaCred/Procesador_Eventos.log"/>
			<staticLogFileName value="true"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="_yyyyMMdd.lo\g"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFORMATIVO] %m%n"/>
			</layout>
		</appender>
		<appender name="ErroresProcesador" type="log4net.Appender.RollingFileAppender">
			<file value="C:/Logs/ProcesadorNocturno/TarjetaCred/Procesador_Errores.log"/>
			<staticLogFileName value="true"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="_yyyyMMdd.lo\g"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n"/>
			</layout>
		</appender>
		<appender name="FlujoProcesador" type="log4net.Appender.RollingFileAppender">
			<file value="C:/Logs/ProcesadorNocturno/TarjetaCred/Procesador_Flujo.log"/>
			<staticLogFileName value="true"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="_yyyyMMdd.lo\g"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n"/>
			</layout>
		</appender>
		<appender name="EntradasCortador" type="log4net.Appender.RollingFileAppender">
			<file value="C:/Logs/ProcesadorNocturno/TarjetaCred/Eventos_EntradaSalida.log"/>
			<staticLogFileName value="true"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="_yyyyMMdd.lo\g"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [WEBSERVICE] %m%n"/>
			</layout>
		</appender>
		<appender name="EventosCortador" type="log4net.Appender.RollingFileAppender">
			<file value="C:/Logs/ProcesadorNocturno/TarjetaCred/Eventos_Eventos.log"/>
			<staticLogFileName value="true"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="_yyyyMMdd.lo\g"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFORMATIVO] %m%n"/>
			</layout>
		</appender>
		<appender name="ErroresCortador" type="log4net.Appender.RollingFileAppender">
			<file value="C:/Logs/ProcesadorNocturno/TarjetaCred/Eventos_Errores.log"/>
			<staticLogFileName value="true"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="_yyyyMMdd.lo\g"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n"/>
			</layout>
		</appender>
		<!-- loggers -->
		<logger name="EventosProcesador">
			<appender-ref ref="EventosProcesador"/>
		</logger>
		<logger name="ErroresProcesador">
			<appender-ref ref="ErroresProcesador"/>
		</logger>
		<logger name="FlujosProcesador">
			<appender-ref ref="FlujoProcesador"/>
		</logger>
		<logger name="Entradas">
			<appender-ref ref="EntradasCortador"/>
		</logger>
		<logger name="Eventos">
			<appender-ref ref="EventosCortador"/>
		</logger>
		<logger name="Errores">
			<appender-ref ref="ErroresCortador"/>
		</logger>
	</log4net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>
				<assemblyIdentity name="log4net" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
			</dependentAssembly>


			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.19.0.0" newVersion="2.19.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FastMember.Signed" publicKeyToken="9e8f22703bef9a29" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>