<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="LogErrorProcesador" value="ErroresProcesador"/>
    <add key="LogInfoProcesador" value="InfoProcesador"/>
    <add key="LogDebugProcesador" value="DebugProcesador"/>
  </appSettings>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="ErroresProcesador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/ProcesadorNocturno/ProcGenSqlitDB_Log4net/Procesador_Error.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [%level] %m%n" />
      </layout>
    </appender>

    <appender name="InfoProcesador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/ProcesadorNocturno/ProcGenSqlitDB_Log4net/Procesador_Info.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFO] %m%n" />
      </layout>
    </appender>
    <appender name="DebugProcesador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/ProcesadorNocturno/ProcGenSqlitDB_Log4net/Procesador_Debug.log" />     
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [%level] %m%n" />
      </layout>
    </appender>


    <!-- loggers -->
    <logger name="ErroresProcesador">
      <appender-ref ref="ErroresProcesador" />
    </logger>
    <logger name="DebugProcesador">
      <appender-ref ref="DebugProcesador" />
    </logger>
    <logger name="InfoProcesador">
      <appender-ref ref="InfoProcesador" />
    </logger>
  </log4net>
  

</configuration>