<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PaymentProcessPortBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://64.34.163.109:8080/WsPaymentMoshi/PaymentProcess" binding="basicHttpBinding" bindingConfiguration="PaymentProcessPortBinding" contract="ServicePaymentProcess.PaymentProcess" name="PaymentProcessPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
