<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="MonitorOperaciones" type="MonitoreaOperaciones.Utilidades.ConfigMonitor, MonitoreaOperaciones" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Facturas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DataBaseProcesos" connectionString="data source=45.32.4.114;Initial Catalog=ProcesadorNocturno;User Id=AV;Password=Av12369" providerName="System.Data.SqlClient" />
    <add name="AdministradorConsulta" connectionString="Data Source=45.32.4.114;Initial Catalog=Administrador;User ID=AV;Password=Av12369" />
    <add name="AdministradorEscritura" connectionString="Data Source=45.32.4.114;Initial Catalog=Administrador;User ID=AV;Password=Av12369" />
    <add name="BDAutorizadorRead" connectionString="Data Source=45.32.4.114;Initial Catalog=AUTO_CACAO;User ID=AV;Password=Av12369" />
    <add name="BDAutorizadorWritte" connectionString="Data Source=45.32.4.114;Initial Catalog=AUTO_CACAO;User ID=AV;Password=Av12369" />-->
    <add name="DataBaseProcesos" connectionString="data source=172.18.1.178;Initial Catalog=PN_CACAO_TEMP;User Id=sa;Password=cacao6996*" providerName="System.Data.SqlClient"/>
    <add name="AdministradorConsulta" connectionString="Data Source=172.18.1.178;Initial Catalog=Administrador;User ID=sa;Password=cacao6996*"/>
    <add name="AdministradorEscritura" connectionString="Data Source=172.18.1.178;Initial Catalog=Administrador;User ID=sa;Password=cacao6996*"/>
    <add name="BDAutorizadorRead" connectionString="data source=172.18.1.178;Initial Catalog=T112_CACAO_COMP;User Id=sa;Password=cacao6996*"/>
    <add name="BDAutorizadorWritte" connectionString="data source=172.18.1.178;Initial Catalog=T112_CACAO_COMP;User Id=sa;Password=cacao6996*"/>
  </connectionStrings>
  <appSettings>
    <add key="Instancia" value="PN_CACAO" />
    <add key="LogErrorProcesador" value="ErroresProcesador" />
    <add key="LogEventoProcesador" value="EventosProcesador" />
    <add key="LogFlujoProcesador" value="FlujosProcesador" />
    <add key="LogDebugProcesador" value="DebugProcesador" />
    <add key="LogError" value="Errores" />
    <add key="LogEvento" value="Eventos" />
    <add key="LogFlujo" value="Flujos" />
    <add key="LogEntrada" value="Entradas" />
    <add key="RecoverSettingsFrom" value="Database" />
    <add key="LogUsing" value="Database" />
    <add key="SettingDatabase" value="Data Source=45.32.4.114;Initial Catalog=Cubos;User ID=sa;Password=dnu6996;Persist Security Info=False;" />
    <add key="ResourcePath" value="C:\FreezeCode\FreezeCode.IceCubes.Common.dll" />
    <add key="ApplicationId" value="{14b3cd25-42de-4b5b-864a-45039aa99479}" />
    <add key="WSUsuario" value="E20AE5F3F7F502E8" />
    <add key="WSPassword" value="A545ED522C4C4BDDC600D81C11784FF5" />
    <add key="DBEmpleadosREAd" value="Server=.;Database=CEEmpleados;User Id=sa;Password=dnu6996" />
    <add key="DBEmpleadosWRT" value="Server=.;Database=CEEmpleados;User Id=sa;Password=dnu6996" />
    <add key="conectionAutorizador" value="Server=172.18.1.178;Database=AUTO_CACAO;User Id=sa;Password=cacao6996*" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SMTPServer" value="mail.dnu.mx" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPUser" value="conciliador" />
    <add key="SMTPPass" value="pachuca2000" />
    <add key="HtmlActivaEmpleados" value="C:\ProcesadorNocturno\HTML\MailRespestaProceso.html" />
    <add key="HtmlSaldos" value="C:\ProcesadorNocturno\HTML\MailMonitoreaCuentas.html" />
    <add key="HtmlMonitorOperaciones" value="C:\ProcesadorNocturno\HTML\MailMonitoreaOperaciones.html" />
    <add key="IDApplication" value="a359eeb2-4f85-49d8-b9e2-c2833f0f4d2a" />
    <add key="EVE020" value="MEDA006" />
    <add key="EVE020_1" value="MEDA007" />
  </appSettings>
  <MonitorOperaciones PeriodoTiempoMin="30">
    <Cadenas>
      <Cadena ID_CadenaComercial="10" Operaciones="20" Activas="20" Declinadas="10" ListaDistribucion="jluisdtm@hotmail.com;lt@dnu.mx">
      </Cadena>
      <!--CONFIGURACION DEFAULT-->
      <Cadena ID_CadenaComercial="13" Operaciones="20" Activas="20" Declinadas="10" ListaDistribucion="jluisdtm@hotmail.com;lt@dnu.mx">
      </Cadena>
      <!--CONFIGURACION POR CADA CADENA-->
      <Cadena ID_CadenaComercial="21" Operaciones="20" Activas="20" Declinadas="10" ListaDistribucion="jluisdtm@hotmail.com;lt@dnu.mx">
      </Cadena>
      <!--CONFIGURACION POR CADA CADENA-->
      <Cadena ID_CadenaComercial="237" Operaciones="20" Activas="20" Declinadas="10" ListaDistribucion="jluisdtm@hotmail.com;lt@dnu.mx">
      </Cadena>
      <!--CONFIGURACION POR CADA CADENA-->
    </Cadenas>
  </MonitorOperaciones>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="DebugProcesador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/ProcesadorNocturno/Procesador_Debug.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [DEBUG] %m%n" />
      </layout>
    </appender>
    <appender name="EventosProcesador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/ProcesadorNocturno/Procesador_Eventos.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFORMATIVO] %m%n" />
      </layout>
    </appender>
    <appender name="ErroresProcesador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/ProcesadorNocturno/Procesador_Errores.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n" />
      </layout>
    </appender>
    <appender name="FlujoProcesador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/ProcesadorNocturno/Procesador_Flujo.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n" />
      </layout>
    </appender>
    <appender name="EntradasCortador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/ProcesadorNocturno/Eventos_EntradaSalida.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [WEBSERVICE] %m%n" />
      </layout>
    </appender>
    <appender name="EventosCortador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/ProcesadorNocturno/Eventos_Eventos.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFORMATIVO] %m%n" />
      </layout>
    </appender>
    <appender name="ErroresCortador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/ProcesadorNocturno/Eventos_Errores.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n" />
      </layout>
    </appender>
    <!-- loggers -->
    <logger name="DebugProcesador">
      <level value="ALL" />
      <appender-ref ref="DebugProcesador" />
    </logger>
    <logger name="EventosProcesador">
      <appender-ref ref="EventosProcesador" />
    </logger>
    <logger name="ErroresProcesador">
      <appender-ref ref="ErroresProcesador" />
    </logger>
    <logger name="FlujosProcesador">
      <appender-ref ref="FlujoProcesador" />
    </logger>
    <logger name="Entradas">
      <appender-ref ref="EntradasCortador" />
    </logger>
    <logger name="Eventos">
      <appender-ref ref="EventosCortador" />
    </logger>
    <logger name="Errores">
      <appender-ref ref="ErroresCortador" />
    </logger>
    
  </log4net>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <!--<applicationSettings>
		<ProcesadorSMS.Properties.Settings>
			<setting name="ProcesadorSMS_ws_Admin_WS_Administracion" serializeAs="String">
				<value>http://(local):4040/WS_Administracion/WS_Administracion</value>
			</setting>
		</ProcesadorSMS.Properties.Settings>
		 <ImportarEmpleados.Properties.Settings>
      <setting name="ImportarEmpleados_ws_CEscala_WS_Administracion"
        serializeAs="String">
        <value>http://jluisdtm:8080/WS_Administracion/WS_Administracion</value>
      </setting>
      <setting name="ImportarEmpleados_WsTransaction_TransactionProcessService"
        serializeAs="String">
        <value>http://(local):8080/WsTransaction/TransactionProcessService</value>
      </setting>
    </ImportarEmpleados.Properties.Settings>
	</applicationSettings>-->
  <applicationSettings>
    <Facturas.Properties.Settings>
      <setting name="Facturas_wsFacturacion_FactWSFront" serializeAs="String">
        <value>https://www.mysuitecfdi.com/mx.com.fact.wsfront/FactWSFront.asmx</value>
        <!--<value>https://www.mysuitetest.com/mx.com.fact.wsfront/FactWSFront.asmx</value>-->
      </setting>
    </Facturas.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Framework" publicKeyToken="cd90fa6d75606473" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4436.32891" newVersion="1.0.4436.32891" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>