<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>

    <!--
       <add name="DataBaseProcesos" connectionString="Data Source=207.198.98.130;Initial Catalog=PN_Parabilium_PIEK_QA;User ID=sa;Password=dnu6996;Column Encryption Setting=enabled" providerName="System.Data.SqlClient"/>
   -->
    
   <!--<add name="DataBaseProcesos" connectionString="PIEK-QA-PN-PN-W" />-->
   <!--<add name="DataBaseProcesos" connectionString="PIEK-DEV-PN-PN-W" />-->


     <!--<add name="DataBaseProcesos" connectionString="PIEK-PRP-PN-PN-W" />-->
    <!--<add name="DataBaseProcesos" connectionString="PIEK-PR-PN-PN-W" />-->
    <add name="DataBaseProcesos" connectionString="PIEK-SB-PN-PN-W" />
    

    <!--<add name="DataBaseProcesos" connectionString="DNU-QA-PN-PN-W" />-->
  
    
    <!--<add name="DataBaseProcesos" connectionString="DNU-SB-PN-PN-W" />-->

    <!--Traf Prod-->
    <!--<add name="DataBaseProcesos" connectionString="DNU-PRP-PN-PN-W" />-->

    <!--Ultranovel QA-->
    <!--<add name="DataBaseProcesos" connectionString="ULTRANOVEL-QA-PN-PN-W" />-->

     <!--DEMO-->
    <!--<add name="DataBaseProcesos" connectionString="PN-PN-W" />-->
    
    <!--
    <add name="DataBaseProcesos" connectionString="data source=45.32.4.114;Initial Catalog=PN_CACAO_T;User Id=OG;Password=Og12369" providerName="System.Data.SqlClient"/>
       <add name="DataBaseProcesos" connectionString="data source=172.18.1.107;Initial Catalog=PN_CACAO;User Id=usrPNWrite;Password=PassPnWrite*;Application Name=ProcesadorNocturno" providerName="System.Data.SqlClient" />
   -->

    <!-- <add name="BDAutorizadorRead" connectionString="Data Source=45.32.4.114;Initial Catalog=tdc_auto_cacao;User ID=OG;Password=Og12369;Application Name=DNU.AutorizadorParabiliaEvertec;max pool size=300" />
    <add name="BDAutorizadorWritte" connectionString="Data Source=45.32.4.114;Initial Catalog=tdc_auto_cacao;User ID=OG;Password=Og12369;Application Name=DNU.AutorizadorParabiliaEvertec;max pool size=300" />
    <add name="BDProcesadorNocturnoRead" connectionString="Data Source=45.32.4.114;Initial Catalog=PN_CACAO_T;User ID=OG;Password=Og12369;Application Name=DNU.AutorizadorParabiliaEvertec;max pool size=300" />
-->
  </connectionStrings>
  <appSettings>
    <!-- <add key="Instancia" value="PN TRAFALGAR" />-->
    <add key="Instancia" value="PN PARABILIUM"/>
    <add key="LogErrorProcesador" value="ErroresProcesador" />
    <add key="LogEventoProcesador" value="EventosProcesador" />
    <add key="LogFlujoProcesador" value="FlujosProcesador" />
    <add key="LogError" value="Errores" />
    <add key="LogEvento" value="Eventos" />
    <add key="LogFlujo" value="Flujos" />
    <add key="LogEntrada" value="Entradas" />
    <add key="rutaXMLSalida" value="C:\Facturas\" />
    <add key="URLAccesoAlServicioSAT" value="https://verificacfdi.facturaelectronica.sat.gob.mx/default.aspx" />
    <!--Azure-->
    <add key="applicationId" value="753138d5-a710-452f-ab85-6508e79acdc1" />
    <add key="clientKey" value="zWs8Q~C6lVk1O2QL7PmoeD85fbLs50-Rj.C37bBa" />
    <add key="urlKeyVault" value="https://almacendeclavesdnu.vault.azure.net/" />


    <!--Azure prod-->
    <!--<add key="applicationId" value="72e7fc84-8852-4e5b-b177-f18cbb84453b" />
    <add key="clientKey" value="ddV8Q~jsPjBqmwu0IPCSt5VqMiqZgsi1bt4SOayG" />
    <add key="urlKeyVault" value="https://almacendeclavesproddnu.vault.azure.net/" />-->

    <!--<add key="applicationId" value="72e7fc84-8852-4e5b-b177-f18cbb84453b" />
    <add key="clientKey" value="ddV8Q~jsPjBqmwu0IPCSt5VqMiqZgsi1bt4SOayG" />
    <add key="urlKeyVault" value="https://almacendeclavesproddnu.vault.azure.net/" />-->
    
    <!--Azure-->
    <!--<add key="applicationId" value="915bcef9-f8d8-4a24-ad91-15aafcd910de" />
    <add key="clientKey" value="E-m8Q~x9ZqXIO14tr1PJiGfY2RlZdWacncxP0b_5" />
    <add key="urlKeyVault" value="https://almacendeclavesdemo.vault.azure.net/" />-->
    
    <!--Azure-->
    <!--<add key="applicationId" value="915bcef9-f8d8-4a24-ad91-15aafcd910de" />
    <add key="clientKey" value="E-m8Q~x9ZqXIO14tr1PJiGfY2RlZdWacncxP0b_5" />
    <add key="urlKeyVault" value="https://almacendeclavesdemo.vault.azure.net/" /-->


    <!--<add key="applicationId" value="9ad08c5c-c300-416d-a668-220669b44dbd" />
    <add key="clientKey" value="..ngg0U6t~yUgyijnz_-c2CDH4YP_FWGKj" />
    <add key="urlKeyVault" value="https://almacendeclavesdnu.vault.azure.net/" /-->

    
    
    <add key="enableAzure" value="true" />
    <add key="longitudMedioAccesoAE" value="50" />
  </appSettings>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="EventosProcesador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/ProcesadorNocturnoPIEK/Procesador_Eventos.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFORMATIVO] %m%n" />
      </layout>
    </appender>
    <appender name="ErroresProcesador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/ProcesadorNocturnoPIEK/Procesador_Errores.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n" />
      </layout>
    </appender>
    <appender name="FlujoProcesador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/ProcesadorNocturnoPIEK/Procesador_Flujo.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n" />
      </layout>
    </appender>
    <appender name="EntradasCortador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/ProcesadorNocturnoPIEK/Eventos_EntradaSalida.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [WEBSERVICE] %m%n" />
      </layout>
    </appender>
    <appender name="EventosCortador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/ProcesadorNocturnoPIEK/Eventos_Eventos.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFORMATIVO] %m%n" />
      </layout>
    </appender>
    <appender name="ErroresCortador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/ProcesadorNocturnoPIEK/Eventos_Errores.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n" />
      </layout>
    </appender>
    <!-- loggers -->
    <logger name="EventosProcesador">
      <appender-ref ref="EventosProcesador" />
    </logger>
    <logger name="ErroresProcesador">
      <appender-ref ref="ErroresProcesador" />
    </logger>
    <logger name="FlujosProcesador">
      <appender-ref ref="FlujoProcesador" />
    </logger>
    <logger name="Entradas">
      <appender-ref ref="EntradasCortador" />
    </logger>
    <logger name="Eventos">
      <appender-ref ref="EventosCortador" />
    </logger>
    <logger name="Errores">
      <appender-ref ref="ErroresCortador" />
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Interfases" publicKeyToken="19fbb44e554115c2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Executer" publicKeyToken="cbbe65492bb50e92" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.0.0.0" newVersion="106.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
