<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="DataBaseProcesos" connectionString="data source=10.24.102.200;Initial Catalog=PN_CACAO;User Id=cacao_dev_pn;Password=yB3K3u]f;Application Name=ProcesadorNocturno" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Instancia" value="PN CACAO" />
    <add key="LogErrorProcesador" value="ErroresProcesador" />
    <add key="LogEventoProcesador" value="EventosProcesador" />
    <add key="LogFlujoProcesador" value="FlujosProcesador" />
    <add key="LogError" value="Errores" />
    <add key="LogEvento" value="Eventos" />
    <add key="LogFlujo" value="Flujos" />
    <add key="LogEntrada" value="Entradas" />
  </appSettings>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="EventosProcesador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/PN/Procesador_Eventos.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFORMATIVO] %m%n" />
      </layout>
    </appender>
    <appender name="ErroresProcesador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/PN/Procesador_Errores.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n" />
      </layout>
    </appender>
    <appender name="FlujoProcesador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/PN/Procesador_Flujo.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n" />
      </layout>
    </appender>
    <appender name="EntradasCortador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/PN/Eventos_EntradaSalida.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [WEBSERVICE] %m%n" />
      </layout>
    </appender>
    <appender name="EventosCortador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/PN/Eventos_Eventos.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFORMATIVO] %m%n" />
      </layout>
    </appender>
    <appender name="ErroresCortador" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/PN/Eventos_Errores.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n" />
      </layout>
    </appender>
    <!-- loggers -->
    <logger name="EventosProcesador">
      <appender-ref ref="EventosProcesador" />
    </logger>
    <logger name="ErroresProcesador">
      <appender-ref ref="ErroresProcesador" />
    </logger>
    <logger name="FlujosProcesador">
      <appender-ref ref="FlujoProcesador" />
    </logger>
    <logger name="Entradas">
      <appender-ref ref="EntradasCortador" />
    </logger>
    <logger name="Eventos">
      <appender-ref ref="EventosCortador" />
    </logger>
    <logger name="Errores">
      <appender-ref ref="ErroresCortador" />
    </logger>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>