<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MonitoreoCacaoPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MonitoreoCacaoPN.Properties.Settings>
            <setting name="MonitoreoCacaoPN_WebReferenceSMS_ServicioMensajes" serializeAs="String">
                <value>http://209.222.19.75/wsMensajeroSMS/ServicioMensajes.svc</value>
            </setting>
        </MonitoreoCacaoPN.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
