<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ImportarEmpleados.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
	<appSettings>
		<add key="LogError" value="Errores"/>
		<add key="LogEvento" value="Eventos"/>
		<add key="LogFlujo" value="Flujos"/>
		<add key="RecoverSettingsFrom" value="Database" />
		<add key="LogUsing" value="Database" />
		<add key="SettingDatabase" value="Data Source=64.34.163.109;Initial Catalog=Cubos;User ID=sa;Password=dnu6996;Persist Security Info=False;" />
		<add key="ResourcePath" value="C:\FreezeCode.IceCubes.Common.dll" />
		<add key="ApplicationId" value="{C2E43435-4EC1-488b-A1AD-D017E96666B1}" />
		<add key="WSUsuario" value="E20AE5F3F7F502E8" />
		<add key="WSPassword" value="A545ED522C4C4BDDC600D81C11784FF5" />
		<add key="DBEmpleadosREAd" value="Server=64.34.163.109;Database=CEEmpleados;User Id=sa;Password=dnu6996" />
		<add key="DBEmpleadosWRT" value="Server=64.34.163.109;Database=CEEmpleados;User Id=sa;Password=dnu6996" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="EventosImportarEmpleado" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Procesador/Logs/ImportarEmpleado/Procesador_Eventos.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFORMATIVO] %m%n" />
      </layout>
    </appender>
    <appender name="ErroresImportarEmpleado" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Procesador/Logs/ImportarEmpleado/Procesador_Errores.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n" />
      </layout>
    </appender>
	  <appender name="FlujoImportarEmpleado" type="log4net.Appender.RollingFileAppender">
		  <file value="C:/Procesador/Logs/ImportarEmpleado/Procesador_Flujo.log" />
		  <staticLogFileName value="true" />
		  <appendToFile value="true" />
		  <rollingStyle value="Date" />
		  <datePattern value="_yyyyMMdd.lo\g" />
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [FLUJO] %m%n" />
		  </layout>
	  </appender>
    <!-- loggers -->
    <logger name="Eventos">
      <appender-ref ref="EventosImportarEmpleado" />
    </logger>
    <logger name="Errores">
      <appender-ref ref="ErroresImportarEmpleado" />
    </logger>
  	<logger name="Flujo">
		<appender-ref ref="FlujoImportarEmpleado" />
	</logger>
	</log4net>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <ImportarEmpleados.Properties.Settings>
      <setting name="ImportarEmpleados_WsTransaction_TransactionProcessService"
        serializeAs="String">
        <value>http://64.34.163.109:8080/WsTransaction/TransactionProcess</value>
      </setting>
      <setting name="ImportarEmpleados_ws_CEscala_WS_Administracion"
        serializeAs="String">
        <value>http://64.34.163.109:8080/WS_Administracion/WS_Administracion</value>
      </setting>
    </ImportarEmpleados.Properties.Settings>
  </applicationSettings>
</configuration>