<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <connectionStrings>
    <add name="BDAutorizadorRead" connectionString="Data Source=216.65.105.219;Initial Catalog=pruebasRotacionCMKVault;User ID=sa;Password=EH9xaaS*bdsR;Column Encryption Setting=enabled;Application Name=DNU.wsParabilium"/>
  
  </connectionStrings>
  <appSettings>
   
    <!--Azure-->

    <!--Prod-->
    <!--<add key="applicationId" value="1f9b9fc5-fd5c-4ee6-b6c2-aa2f3e867744" />
    <add key="clientKey" value="QmX8Q~p6vI7zoZ~mLxEbzwtIrSaM9ZpG3Tl5bcEb" />
    <add key="urlKeyVault" value="https://almacendeclavesproddnu.vault.azure.net/" />
    <add key="cadena" value="pruebaProduccionSecreto" />-->

    <!--PCI PRUEBAS--><!--
    <add key="applicationId" value="a445fdf5-1b24-4be5-b092-b269bb63941d" />
    <add key="clientKey" value="_a6_m7x64IW6-CGgBLiOpa.p.WHFsK7v8Q" />
    <add key="urlKeyVault" value="https://almacendeclavesdnu.vault.azure.net/" />
    <add key="cadena" value="CACAO-DESA-CA-CORECA-ADMIN-R" />-->

    <!--volcan-->
    <!--<add key="applicationId" value="7c2d3f40-5a72-4b48-a630-9205aa17527d"/>
    <add key="clientKey" value="ffF8Q~ocOih4Z3VP5QmnK6ozYC7_CUpif4ImUazQ"/>
    <add key="urlKeyVault" value="https://almacendeclavesproddnu.vault.azure.net/"/>
    <add key="cadena" value="DNU-PR-AUT-AUTO-W"/>-->



    <!--<add key="applicationId" value="753138d5-a710-452f-ab85-6508e79acdc1" />
    <add key="clientKey" value="W6-nXkO.sQ58GPRFaYz._d-0Zq3Btqu-Mc" />
    <add key="cadena" value="WIREBIT-QA-CA-EVE-EXE-AUTO-R" />
    <add key="urlKeyVault" value="https://almacendeclavesdnu.vault.azure.net/" />-->
    
    <!--<add key="applicationId" value="2456850f-da1d-4996-bb44-fecba54d3bb2" />
    <add key="clientKey" value="fOA8Q~3KVl22x_~oTP43LsWycVFbiadMSBuvOcit" />
    <add key="cadena" value="AUT-AUTO-W" />
    <add key="urlKeyVault" value="https://almacendeclavesprodultra.vault.azure.net/" />-->


    <!--<add key="appIdKey" value="2456850f-da1d-4996-bb44-fecba54d3bb2" />
    <add key="clientKey" value="WY.8Q~EcEqEDfCEEgWaCoY~Bc-Lp6FJ28FcB3cdZ" />
    <add key="urlKeyVault" value="https://almacendeclavesprodultra.vault.azure.net/" />
    <add key="cadena" value="AUT-AUTO-W" />
    <add key="AzureOn" value="true" />-->


    <!--<add key="applicationId" value="40cf2bdb-7b12-4006-90a3-784af7e41e7c" />
    <add key="clientKey" value="fbT8Q~nQp1YmAUSJLMfVUSltS2X5MUGpyTOccdvK" />
    <add key="cadena" value="WS-CRED-BD" />
    <add key="urlKeyVault" value="https://almacendeclavesfarefosb.vault.azure.net/" />-->


    <add key="applicationId" value="f5d8ba51-16e2-419a-b36f-7fb71a6e3833" />
    <add key="clientKey" value="MpR8Q~1X7L9Z7ckLDyBeP9~TLD~iQBvN2NuYkb26" />
    <add key="urlKeyVault" value="https://almacendeclavesklarsb.vault.azure.net/" />
    <add key="cadena" value="PN-CONC-W-V2" />
    <add key="enableAzure" value="true" />
    <add key="nombreArchivo" value="EN_PROCESO_T112_V4_MEXMB202306181.txt" />
    
  </appSettings>
</configuration>
