<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QUANTUM_EnviarOperacionesCREAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <QUANTUM_EnviarOperacionesCREAL.Properties.Settings>
            <setting name="QUANTUM_EnviarOperacionesCREAL_mx_com_creditoreal_quantum_Quantum"
                serializeAs="String">
                <value>http://quantum.creditoreal.com.mx/quantum.asmx</value>
            </setting>
        </QUANTUM_EnviarOperacionesCREAL.Properties.Settings>
    </applicationSettings>
</configuration>
